body {
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.parent {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background-image: url("./img/bg.jpg"); 
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(9, 10, 115, 0.42) 0px 2px 50px 0px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}